<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" href="/sass/compact/admin" type="text/css" media="all" charset="utf-8" />
	<link rel="stylesheet" href="/markitup/skins/markitup/style.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/markitup/sets/wiki/style.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/stylesheets/themes/smoothness/ui.all.css" type="text/css" media="screen" charset="utf-8" />
	
	<script type="text/javascript" src="/javascripts/jquery.js" charset="utf-8"></script>
	<script type="text/javascript" src="/javascripts/jquery.ui.js" charset="utf-8"></script>
	<script type="text/javascript" src="/javascripts/jquery.form.js" charset="utf-8"></script>
	<script type="text/javascript" src="/javascripts/application.js" charset="utf-8"></script>
	
	<title>hoboken admin</title>
	
</head>

<body>


</body>
</html>
