%h1 File Manager

%p
  Below are all the files that have been uploaded to the wiki. You can click the pasteboard icon next to one of them to copy its link URL.
  You can also delete files or
  %a{:href => '/upload'} Upload More
  using the upload manager.