<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>hoboken wiki</title>
	
	<link rel="stylesheet" href="/sass/compact/main" type="text/css" media="all" charset="utf-8" />
	<link rel="stylesheet" href="/markitup/skins/markitup/style.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/markitup/sets/wiki/style.css" type="text/css" media="screen" charset="utf-8" />
	
	<%= javascript("/javascripts/jquery.js", "/javascripts/jquery.ui.js", "/javascripts/jquery.form.js", "/markitup/jquery.markitup.js", "/markitup/sets/wiki/set.js", "/javascripts/application.js") %>
	
	
</head>

<body>

	<%= yield %>
</body>
</html>
