<h1>Signup</h1>

<form action="/users/new" method="post">
	<p>
		<label for="user_email">Email</label><br/>
		<input id="user_email" name="email" size=30 type="text" />
	</p>
	<p>
		<label for="user_password">Password</label><br/>
		<input id="user_password" name="password" size=30 type="password" />
	</p>
	<p>
		<label for="user_password_confirmation">Confirm Password</label><br/>
		<input id="user_password_confirmation" name="password_confirmation" size=30 type="password" />
	</p>
	<p>
		<input value="sign up" type="submit" />
	</p>
</form>