<h1>Upload Files</h1>
<p>
	Click "browse" to select files to upload. You can use <code>SHIFT + click</code> or <code>CTRL + click</code> to select multiple files at once.
</p>

<form action="/upload" method="post" enctype="multipart/form-data" id="upload_form">
	<label for="data">Select Files to Upload:</label>
	<input type="file" name="date" id="data" />
	<button type="button">Submit</button>
</form>