%h1 Upload Files

%p
  Select a file using the form below, then click "Upload" to upload it. Once the upload is complete,
  you'll be able to copy & paste a link to the file into wiki articles. See 
  %a{:href=>'/WikiHelp'} WikiHelp
  for more information.
  
%form{:id => "upload_form", :action => "/upload", :method => "post", :enctype => "multipart/form-data"}
  %fieldset
    %legend Select a File
    %input{:type => "file", :name => "data", :id => "data"}
    %input{:type => "submit", :value => "Upload"}

%div{:id => "upload_status"}
  %div{:class => "working", :style => "display:none;"}
    %img{:src => '/images/loading_small.gif', :width => "32", :height => "32", :alt => "loading"}
    %em{:style => 'line-height:20px;vertical-align:middle;'} Uploading files, please wait...
  %div{:class => "status", :style => "display:none;"}
    
  